<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a project</title>
</head>
<body>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add project</button>
    {{ form_end(form) }}

</body>
</html>